@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
font: normal normal 13px/16px "Open Sans", sans-serif;
background: papayawhip;
}

h1{
	text-align: center;
}

h4{
	text-align: center;
}

.container{
padding: 20px;
width: 300px;
margin: 0 auto;
margin-top: 40px;
background: white;
border: 1px solid grey;
border-radius: 5px;}

input{
padding: 4px 15px 4px 5px;
}

.doForm{
	display: flex;
	justify-content: center;
}

#button{
display: inline-block;
background-color: peachpuff;
color:coral;
border-radius: 5px;
text-align:center;
margin-top:2px;
margin-left: 5px;
padding: 5px 15px;
}

#button:hover{
cursor: pointer;
opacity: .8;}

ol {padding-left: 20px;}

ol li {padding: 5px;color:#000;}

ol li:nth-child(even){background: #dfdfdf;}

.strike{text-decoration: line-through;}

li:hover{
  cursor: pointer;
 }


	</style>